<a href="https://colab.research.google.com/github/Lakshana1786/MED23CL202/blob/main/CRUD_using_Dictionary_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##Create (Add new key value pair)

In [1]:
 student = {} #empty dictionary
 student["name"] = "Mahi"
 student["age"] = 44
 print(student)

{'name': 'Mahi', 'age': 44}

##Read

In [4]:
print(student["name"]) #read the key
print(student.get("age"))

Mahi
44

In [5]:
print(student.get("grade"))

None

In [6]:
print(student.get("grade","not available"))

not available

##Update

In [9]:
student = {} #empty dictionary
student["name"] = "Mahi"
student["age"] = 44
student["grade"] = 'O'
print(student)

{'name': 'Mahi', 'age': 44, 'grade': 'O'}

##Delete

In [10]:
del student["grade"] #completely removes key and value
print(student)

{'name': 'Mahi', 'age': 44}

In [11]:
removed = student.pop("age")
#pop will delete the key , but value is present,
#still cannot access the value
print(student)
print(removed)

{'name': 'Mahi'}
44

#Quick Summary


* C (Create) = dict[key]=value
* R (Read) = dict[key
*   List item

#Nested Dictionary

In [22]:
student = {
    "prathyusha":{"maths":"89","science":"90","english":"98"},
    "rhys":{"maths":"78","science":"88","english":"47"},
    "ava":{"maths":"68","science":"76","english":"80"},
    "josh":{"maths":"99","science":"90","english":"78"},
    "alex":{"maths":"89","science":"90","english":"98"}
}
print(student)

{'prathyusha': {'maths': '89', 'science': '90', 'english': '98'}, 'rhys': {'maths': '78', 'science': '88', 'english': '47'}, 'ava': {'maths': '68', 'science': '76', 'english': '80'}, 'josh': {'maths': '99', 'science': '90', 'english': '78'}, 'alex': {'maths': '89', 'science': '90', 'english': '98'}}