<a href="https://colab.research.google.com/github/Lakshana1786/MED23CL202/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os # importing operating system packages
#get the current director
os.getcwd()#cwd stands for current working directory
os.chdir('/content/sample_data')

## Variables and data type

In [ ]:
l=31
l+2

33

In [ ]:
l-24

7

In [ ]:
l*2

62

In [ ]:
l**2

961

In [ ]:
l%2

1

In [ ]:
l/float(2)

15.5

In [ ]:
int()#integer () function call
float()# float
bool()#boolean
str()#string

###List

In [ ]:
a='rutu'
b='raj'
c='gaikwad'
l=['my','fav','circketer','is',a,b]
l

['my', 'fav', 'circketer', 'is', 'rutu', 'raj']

In [ ]:
x=[]#empty list
#define the list
x1=['a','b','c']#char list is seprated by coma and include with single quotes
x1#printing x1

['a', 'b', 'c']

In [ ]:
x#printing x

[]

In [ ]:
x=[1,2,3]
y=[10,20,30]
z=[x,y]#to include tow listed sperated by coma
print(z)
u=x+y
print(u)#to concatenate two lists

[[1, 2, 3], [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

### *Accesing the element of a list*

In [ ]:
#select the o th element of th list x
print (x[0])
print (l[0])

1
my

In [ ]:
#select last element
print(x[-1])
print(l[-1])

3
raj

In [ ]:
#select 1 st inclusive and 3rd exclusive
#in the list range first value is included while last value is exclueded
print(x[1:3])
print(l[1:4])

[2, 3]
['fav', 'circketer', 'is']

In [ ]:
#select the 2 nd to the end last element
print(x[2:])#last element will be shown only if it's not filled and left empty
print(l[2:])

[3]
['circketer', 'is', 'rutu', 'raj']

In [ ]:
#select 0 to 3rd exclusive
print(x[:3])
print(l[:3])

[1, 2, 3]
['my', 'fav', 'circketer']

In [ ]:
#list operation :coma,*,
l=['my','fav','circketer','is']
print(l*2)#"*" is scaling
print(l+l)#"+" is  concatination

['my', 'fav', 'circketer', 'is', 'my', 'fav', 'circketer', 'is']
['my', 'fav', 'circketer', 'is', 'my', 'fav', 'circketer', 'is']

In [ ]:
#operation in python
22//7 #integer divide a number with // comes as a wole no.

In [ ]:
22/7#divide a  number by another with / comes with points

In [ ]:
22%7#it is mod operator reminder is shown

##*Assignment operator*

In [ ]:
a=5#aassign a value to a
print(a)
#x[0=1] WE CAN'T directly change the value un an empty list
x = [10,20,31]#1st define a list and then change
x[0]=88#change the value of an item in a list
print(x)

##*Relational* *operators*

In [ ]:
2==2 #test for equality with ==

True

In [ ]:
31!=31 #test for inequality with !=

False

In [ ]:
31>8 #test greater than with>

True

In [ ]:
31>=31 #test greater than or equal to with>=

True

In [ ]:
31<41 #test less than with<

True

In [ ]:
31<=41 #test less than or equal to with<=

True

##*logical operators*

In [ ]:
not(2==2)#not is compliment .ans will be compliment of ture ans

False

In [ ]:
(1==1)and(1<=1)#using AND logical operation .should satisfy both the condition

True

In [ ]:
(1>=1)or(1<1)# any one condition is satisfied it shows ture

True